Repository mpbarbosa/paraty_geocore.js: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, test-core

typecheck:
  name: TypeScript type-check
  entry: npm run validate
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript complexity + style)
  entry: npm run lint
  language: system
  pass_filenames: false

test-core:
  name: Core unit tests
  entry: npm run test:core
  language: system
  pass_filenames: false

feat(implementation+tests): update docs, tests, and version refs
  .workflow-config.yaml
  CHANGELOG.md
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
  test/core/PositionManager.test.ts
  test/integration/GeoPositionPositionManager.integration.test.ts
  test/utils/logger.test.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.12.3-alpha
  dist/esm/core/PositionManager.js
  dist/esm/core/ReferencePlace.js
  dist/esm/index.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/core/ReferencePlace.d.ts
  dist/esm/types/index.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/core/ReferencePlace.js
  dist/src/index.js
  dist/src/utils/logger.js
  dist/test/core/PositionManager.test.js
  dist/test/core/ReferencePlace.test.js
  dist/test/integration/GeoPositionPositionManager.integration.test.js
  dist/test/utils/logger.test.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/core/ReferencePlace.d.ts
  dist/types/src/index.d.ts
  dist/types/src/utils/logger.d.ts
  dist/types/test/core/ReferencePlace.test.d.ts
Due: typecheck, eslint

artefatos
  .ai_workflow/commit_history.json
Due: typecheck

chore: bump version to 0.12.4-alpha
  dist/esm/core/PositionManager.js
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/test/core/PositionManager.test.js
  dist/test/integration/GeoPositionPositionManager.integration.test.js
  dist/test/utils/logger.test.js
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
Due: typecheck, eslint, test-core

chore(deps): update ibira.js to v0.4.9-alpha
  package-lock.json
  package.json
Due: typecheck

ci: upgrade actions to Node.js 24-compatible versions
  .github/workflows/update-bessa.yml
  .github/workflows/update-ibira.yml
Due: none

fix(ci): guard bessa TAG against 404 JSON bleed-through
  .github/workflows/update-bessa.yml
Due: none

fix(ci): drop npm ci from update-bessa step 6
  .github/workflows/update-bessa.yml
Due: none

chore(deps): update bessa_patterns.ts to v0.12.12-alpha
  CHANGELOG.md
  package-lock.json
  package.json
Due: typecheck

chore(deps): update ibira.js to v0.4.11-alpha
  package-lock.json
  package.json
Due: typecheck

artefatos
  cdn-urls.txt
  package-lock.json
Due: typecheck

chore: build artifacts for v0.12.4-alpha
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/test/core/PositionManager.test.js
  dist/test/integration/GeoPositionPositionManager.integration.test.js
  dist/test/utils/logger.test.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
  docs/API.md
  docs/README.md
Due: typecheck

feat(implementation): update docs and core logic for workflow v0.12.5-alpha
  .github/skills/update-bessa/SKILL.md
  .github/skills/update-ibira/SKILL.md
  CONTRIBUTING.md
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.12.5-alpha
  dist/esm/core/PositionManager.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

artefatos
  cdn-urls.txt
Due: none

fix(deps): bump bessa_patterns.ts to v0.12.13-alpha (v0.14.1-alpha)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  package-lock.json
  package.json
Due: typecheck

fix(deps): bump ibira.js to v0.4.13-alpha (v0.14.2-alpha)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  package-lock.json
  package.json
Due: typecheck

fix(architecture-mismatch): document missing scripts and .github files (RI-006, RI-007)
  docs/ARCHITECTURE.md
Due: none

docs: update roadmap with resolved minor issues (fix-log-issues)
  docs/FUNCTIONAL_REQUIREMENTS.md
Due: none

chore(skills): sync audit-and-fix skill from bessa_patterns.ts v0.12.13-alpha
  .github/skills/audit-and-fix/SKILL.md
Due: none

chore(metrics): update metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
Due: typecheck

feat(implementation): update version refs and docs for v0.12.6-alpha
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.12.6-alpha
  dist/esm/core/PositionManager.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

chore(deps): update bessa_patterns.ts to v0.12.14-alpha
  CHANGELOG.md
  docs/ARCHITECTURE.md
  package-lock.json
  package.json
Due: typecheck

chore(deps): update ibira.js to v0.4.20-alpha
  CHANGELOG.md
  docs/ARCHITECTURE.md
  package-lock.json
  package.json
Due: typecheck

feat(skills): add update-ibira Copilot skill
  .github/skills/update-ibira/SKILL.md
Due: none

chore: clean up update-bessa SKILL.md and refresh cdn-urls timestamp
  .github/skills/update-bessa/SKILL.md
  cdn-urls.txt
Due: none

feat(implementation): update docs and version refs for v0.12.7-alpha
  .github/skills/update-bessa/SKILL.md
  .github/skills/update-ibira/SKILL.md
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.12.7-alpha
  dist/esm/core/PositionManager.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

ci: add release.yml workflow to create GitHub Releases on tag push
  .github/skills/update-bessa/SKILL.md
  .github/skills/update-ibira/SKILL.md
  .github/workflows/release.yml
Due: none

feat(implementation): update docs, config, and core classes for v0.12.8-alpha
  .github/skills/update-bessa/SKILL.md
  .github/skills/update-ibira/SKILL.md
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
Due: typecheck, eslint, test-core

Path conditions:
  typecheck: any of: \.(ts|tsx|json)$
  eslint: any of: \.ts$
  test-core: any of: ^(src/|test/(core|index))
