Repository mpbarbosa/paraty_geocore.js: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, test-core

.pre-commit-config.yaml:

repos:
  # Detect accidentally committed private keys / certificates
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: detect-private-key

  # Enforce EditorConfig rules (indentation, line endings, charset)
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.0.3
    hooks:
      - id: editorconfig-checker
        exclude: |
          (?x)^(
            node_modules/|
            \.ai_workflow/
          )

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint-fix  # auto-fixes MD007/MD009/MD026/MD047 before commit
        args: [--config, .markdownlint.json]
        exclude: |
          (?x)^(
            node_modules/|
            \.ai_workflow/
          )

  # TypeScript type-check â€” catches type errors before they reach CI
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript type-check
        entry: npm run validate
        language: system
        files: \.(ts|tsx|json)$  # re-run on source or tsconfig changes
        pass_filenames: false

      - id: eslint
        name: ESLint (TypeScript complexity + style)
        entry: npm run lint
        language: system
        files: \.ts$
        pass_filenames: false

      - id: test-core
        name: Core unit tests
        entry: npm run test:core
        language: system
        files: ^(src/|test/(core|index))  # only re-run when source or core tests change
        pass_filenames: false

docs(documentation): update docs, config, and scripts for v0.17.0-alpha
  .workflow-config.yaml
  CHANGELOG.md
  README.md
  cdn-delivery.sh
  cdn-urls.txt
  package-lock.json
  package.json
  scripts/deploy.sh
Due: typecheck

chore: build artifacts for v0.17.0-alpha
  cdn-urls.txt
Due: none

chore(deps): update ibira.js to v0.4.48
  CHANGELOG.md
  docs/ARCHITECTURE.md
  package-lock.json
  package.json
Due: typecheck

build: migrate deps to npm registry and make package publishable
  dist/src/core/DualObserverSubject.js
  dist/src/core/ObserverMixin.js
  dist/src/core/ObserverSubject.js
  dist/types/src/core/DualObserverSubject.d.ts
  dist/types/src/core/ObserverMixin.d.ts
  dist/types/src/core/ObserverSubject.d.ts
  package-lock.json
  package.json
  scripts/deploy.sh
  src/core/DualObserverSubject.ts
  src/core/ObserverMixin.ts
  src/core/ObserverSubject.ts
  test/core/DualObserverSubject.test.ts
  test/core/ObserverSubject.test.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.17.0-alpha
  cdn-urls.txt
  dist/esm/core/DualObserverSubject.js
  dist/esm/core/ObserverMixin.js
  dist/esm/core/ObserverSubject.js
  dist/esm/types/core/DualObserverSubject.d.ts
  dist/esm/types/core/ObserverMixin.d.ts
  dist/esm/types/core/ObserverSubject.d.ts
  dist/test/core/DualObserverSubject.test.js
  dist/test/core/ObserverSubject.test.js
Due: typecheck, eslint

chore: bump version to 0.17.1-alpha
  package-lock.json
  package.json
Due: typecheck

chore: build artifacts for v0.17.1-alpha
  cdn-urls.txt
Due: none

chore(deps): update ibira.js to v0.5.0
  package-lock.json
  package.json
Due: typecheck

chore(deps): update bessa_patterns.ts to v0.13.0
  package-lock.json
  package.json
Due: typecheck
