Repository mpbarbosa/paraty_geocore.js: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, test-core

typecheck:
  name: TypeScript type-check
  entry: npm run validate
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript complexity + style)
  entry: npm run lint
  language: system
  pass_filenames: false

test-core:
  name: Core unit tests
  entry: npm run test:core
  language: system
  pass_filenames: false

chore: build artifacts for v0.9.9-alpha
  dist/src/core/GeocodingState.js
  dist/src/core/ObserverSubject.js
  dist/src/core/errors.js
  dist/src/index.js
  dist/test/benchmarks/performance.benchmark.js
  dist/test/core/GeoPosition.edge-cases.test.js
  dist/test/core/GeoPosition.test.js
  dist/test/core/GeocodingState.test.js
  dist/test/core/ObserverSubject.test.js
  dist/test/core/errors.test.js
  dist/test/helpers/fixtures.js
  dist/test/index.test.js
  dist/test/integration/browser-geolocation.test.js
  dist/test/utils/async.test.js
  dist/types/src/core/GeoPosition.d.ts
  dist/types/src/core/GeocodingState.d.ts
  dist/types/src/core/ObserverSubject.d.ts
  dist/types/src/core/errors.d.ts
  dist/types/src/index.d.ts
  dist/types/test/core/GeocodingState.test.d.ts
  dist/types/test/core/ObserverSubject.test.d.ts
  dist/types/test/helpers/fixtures.d.ts
Due: typecheck, eslint

artefator
  .ai_workflow/commit_history.json
  .ai_workflow/logs/workflow_20260301_160006/steps/step_12.log
  .ai_workflow/logs/workflow_20260301_160006/workflow.log
Due: typecheck

build: rebuild ESM dist to include GeocodingState and ObserverSubject exports
  dist/esm/core/GeoPosition.js
  dist/esm/core/GeocodingState.js
  dist/esm/core/ObserverSubject.js
  dist/esm/core/errors.js
  dist/esm/index.js
  dist/esm/types/core/GeoPosition.d.ts
  dist/esm/types/core/GeocodingState.d.ts
  dist/esm/types/core/ObserverSubject.d.ts
  dist/esm/types/core/errors.d.ts
  dist/esm/types/index.d.ts
  dist/esm/types/utils/async.d.ts
  dist/esm/utils/async.js
Due: typecheck, eslint

artefatos
  cdn-urls.txt
Due: none

docs(docs): update docs [skip ci]
  .ai_workflow/.step_cache/step_10_partition.json
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GEOCODING_STATE_API.md
  docs/GEO_POSITION.md
  docs/GEO_POSITION_API.md
Due: typecheck

artefatos
  .ai_workflow/commit_history.json
  .ai_workflow/logs/workflow_20260301_232928/steps/step_12.log
  .ai_workflow/logs/workflow_20260301_232928/workflow.log
Due: typecheck

feat: add DualObserverSubject — GoF dual-observer pattern (object + function)
  dist/esm/core/DualObserverSubject.js
  dist/esm/index.js
  dist/esm/types/core/DualObserverSubject.d.ts
  dist/esm/types/index.d.ts
  dist/src/core/DualObserverSubject.js
  dist/src/index.js
  dist/test/core/DualObserverSubject.test.js
  dist/types/src/core/DualObserverSubject.d.ts
  dist/types/src/index.d.ts
  dist/types/test/core/DualObserverSubject.test.d.ts
  src/core/DualObserverSubject.ts
  src/index.ts
  test/core/DualObserverSubject.test.ts
Due: typecheck, eslint, test-core

artefatos
  .ai_workflow/commit_history.json
  .ai_workflow/logs/workflow_20260302_135420/steps/step_12.log
  .ai_workflow/logs/workflow_20260302_135420/workflow.log
Due: typecheck

chore: build artifacts for v0.10.0-alpha
  dist/src/core/DualObserverSubject.js
  dist/src/core/GeocodingState.js
  dist/test/core/GeocodingState.test.js
  dist/test/helpers/fixtures.js
  dist/test/index.test.js
  dist/test/integration/browser-geolocation.test.js
  dist/test/utils/async.test.js
  dist/types/src/core/DualObserverSubject.d.ts
  dist/types/src/core/GeocodingState.d.ts
  dist/types/src/core/ObserverSubject.d.ts
  dist/types/test/helpers/fixtures.d.ts
Due: typecheck, eslint

docs: document undocumented directories and add project structure map
  README.md
  docs/README.md
Due: none

test: apply step_06 test quality improvements
  test/core/DualObserverSubject.test.ts
  test/core/GeoPosition.test.ts
  test/utils/async.test.ts
Due: typecheck, eslint, test-core

ci: add dist smoke test and build steps to CI pipeline
  .github/workflows/ci.yml
  package.json
  scripts/smoke-test.cjs
Due: typecheck

chore(deps): apply safe dependency updates + document bessa_patterns.ts manual upgrade
  CONTRIBUTING.md
Due: none

chore(package): add start script and private flag
  package.json
Due: typecheck

test: step_10 code quality — shared makeObserver fixture and fake timers in index tests
  test/core/DualObserverSubject.test.ts
  test/helpers/fixtures.ts
  test/index.test.ts
Due: typecheck, eslint, test-core

test: step_10 edge cases — document duplicate subscription behaviour
  test/core/DualObserverSubject.test.ts
  test/core/ObserverSubject.test.ts
Due: typecheck, eslint, test-core

docs: step_10 config quality — fix dist/ README description and annotate typedoc.json
  README.md
  typedoc.json
Due: typecheck

release: v0.10.0
  package.json
Due: typecheck

fix: remove invalid JS comments from typedoc.json
  typedoc.json
Due: typecheck

fix: update ObserverSubject API doc version header to 0.10.1-alpha
  docs/OBSERVER_SUBJECT_API.md
Due: none

freeze getCurrentCoordinates() return for defensive immutability
  src/core/GeocodingState.ts
  test/core/GeocodingState.test.ts
Due: typecheck, eslint, test-core

fix toString zero-coord bug + type alignment + ESLint hardening
  eslint.config.js
  src/core/GeoPosition.ts
  src/core/GeocodingState.ts
  test/core/GeoPosition.edge-cases.test.ts
  test/core/GeoPosition.test.ts
Due: typecheck, eslint, test-core

add TypeScript codebase profile to prevent reviewer false positives
  .ai_workflow/context/typescript_profile.md
  scripts/generate_ts_profile.sh
Due: none

chore(workflow): update docs and metrics and logs [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/commit_history.json
  .ai_workflow/logs/workflow_20260309_175044/steps/step_12.log
  .ai_workflow/logs/workflow_20260309_175044/workflow.log
  .ai_workflow/metrics/current_run.json
  docs/API.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GEOCODING_STATE_API.md
  docs/GEO_POSITION.md
  docs/GEO_POSITION_API.md
  docs/OBSERVER_SUBJECT_API.md
  docs/async-FRS.md
  docs/distance-FRS.md
Due: typecheck

artefatos
  .ai_workflow/commit_history.json
  .ai_workflow/logs/workflow_20260309_214048/steps/step_12.log
  .ai_workflow/logs/workflow_20260309_214048/workflow.log
Due: typecheck

chore: build artifacts for v0.10.2
  dist/src/core/GeoPosition.js
  dist/src/core/GeocodingState.js
  dist/src/core/errors.js
  dist/src/utils/async.js
  dist/test/core/DualObserverSubject.test.js
  dist/test/core/GeoPosition.edge-cases.test.js
  dist/test/core/GeoPosition.test.js
  dist/test/core/GeocodingState.test.js
  dist/test/core/ObserverSubject.test.js
  dist/test/helpers/fixtures.js
  dist/test/index.test.js
  dist/test/utils/async.test.js
  dist/types/src/core/GeocodingState.d.ts
  dist/types/src/core/errors.d.ts
  dist/types/src/utils/async.d.ts
  dist/types/test/helpers/fixtures.d.ts
Due: typecheck, eslint

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
  docs/API.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GEOCODING_STATE_API.md
  docs/GEO_POSITION.md
  docs/GEO_POSITION_API.md
  docs/OBSERVER_SUBJECT_API.md
  docs/async-FRS.md
  docs/distance-FRS.md
Due: typecheck

feat(implementation): update docs and code for v0.10.3
  .workflow-config.yaml
  CHANGELOG.md
  README.md
  cdn-urls.txt
  package.json
  src/core/errors.ts
  src/utils/async.ts
Due: typecheck, eslint, test-core

feat(deps): update bessa_patterns.ts to v0.12.3-alpha; add ObserverMixin
  CONTRIBUTING.md
  docs/API.md
  docs/OBSERVER_MIXIN_API.md
  package.json
  src/core/ObserverMixin.ts
  src/index.ts
  test/core/ObserverMixin.test.ts
Due: typecheck, eslint, test-core

feat(implementation): update docs and code for v0.11.0
  .workflow-config.yaml
  CHANGELOG.md
  README.md
  cdn-urls.txt
  package.json
  src/core/errors.ts
  src/utils/async.ts
Due: typecheck, eslint, test-core

artefatos
  .ai_workflow/commit_history.json
Due: typecheck

chore: build artifacts for v0.11.0
  dist/src/core/ObserverMixin.js
  dist/src/core/errors.js
  dist/src/index.js
  dist/src/utils/async.js
  dist/test/core/ObserverMixin.test.js
  dist/types/src/core/ObserverMixin.d.ts
  dist/types/src/core/errors.d.ts
  dist/types/src/index.d.ts
  dist/types/src/utils/async.d.ts
  dist/types/test/core/ObserverMixin.test.d.ts
Due: typecheck, eslint

Path conditions:
  typecheck: any of: \.(ts|tsx|json)$
  eslint: any of: \.ts$
  test-core: any of: ^(src/|test/(core|index))
