Repository mpbarbosa/paraty_geocore.js: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, test-core

typecheck:
  name: TypeScript type-check
  entry: npm run validate
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript complexity + style)
  entry: npm run lint
  language: system
  pass_filenames: false

test-core:
  name: Core unit tests
  entry: npm run test:core
  language: system
  pass_filenames: false

feat(implementation+tests): update docs, tests, and core logic
  .github/SKILLS.md
  .github/skills/audit-and-fix/SKILL.md
  .github/skills/fix-log-issues/SKILL.md
  .github/skills/update-bessa/SKILL.md
  .github/skills/update-ibira/SKILL.md
  .github/skills/validate-logs/SKILL.md
  .github/workflows/update-bessa.yml
  .github/workflows/update-ibira.yml
  .workflow-config.yaml
  CHANGELOG.md
  README.md
  cdn-urls.txt
  docs/POSITION_MANAGER.md
  package.json
  src/core/PositionManager.ts
  src/core/errors.ts
  src/index.ts
  src/utils/async.ts
  src/utils/logger.ts
  test/core/PositionManager.test.ts
  test/integration/GeoPositionPositionManager.integration.test.ts
  test/utils/logger.test.ts
Due: typecheck, eslint, test-core

docs: update roadmap with minor issues from workflow_20260322_151255 (fix-log-issues)
  docs/FUNCTIONAL_REQUIREMENTS.md
Due: none

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/commit_history.json
  .ai_workflow/metrics/current_run.json
  docs/API.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GEOCODING_STATE_API.md
  docs/GEO_POSITION.md
  docs/GEO_POSITION_API.md
  docs/OBSERVER_SUBJECT_API.md
  docs/POSITION_MANAGER.md
  docs/async-FRS.md
  docs/distance-FRS.md
Due: typecheck

feat(implementation): update docs and code for v0.11.2
  .workflow-config.yaml
  CHANGELOG.md
  README.md
  cdn-urls.txt
  package.json
  src/core/errors.ts
  src/utils/async.ts
Due: typecheck, eslint, test-core

artefatos
  .ai_workflow/commit_history.json
Due: typecheck

chore: build artifacts for v0.11.2
  dist/src/core/PositionManager.js
  dist/src/core/errors.js
  dist/src/index.js
  dist/src/utils/async.js
  dist/src/utils/logger.js
  dist/test/core/PositionManager.test.js
  dist/test/integration/GeoPositionPositionManager.integration.test.js
  dist/test/utils/logger.test.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/core/errors.d.ts
  dist/types/src/index.d.ts
  dist/types/src/utils/async.d.ts
  dist/types/src/utils/logger.d.ts
  dist/types/test/core/PositionManager.test.d.ts
  dist/types/test/integration/GeoPositionPositionManager.integration.test.d.ts
  dist/types/test/utils/logger.test.d.ts
Due: typecheck, eslint

fix: update bessa_patterns.ts to v0.12.4-alpha (fixes withObserver missing from tagged dist)
  package-lock.json
  package.json
Due: typecheck

fix(architecture-mismatch): document coverage/ and dist/ subdirs in ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

docs: update roadmap with resolved minor issues (fix-log-issues)
  docs/FUNCTIONAL_REQUIREMENTS.md
Due: none

feat(skills): add purge-workflow-logs skill
  .github/SKILLS.md
  .github/skills/purge-workflow-logs/SKILL.md
Due: none

chore(metrics): update metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
Due: typecheck

chore(configuration): update version to 0.11.4
  package-lock.json
  package.json
Due: typecheck

fix(ci): fall back to latest tag when ibira.js has no published release
  .github/workflows/update-ibira.yml
Due: none

feat(release): PositionManager + logger — v0.12.0-alpha
  CHANGELOG.md
  docs/ARCHITECTURE.md
  package.json
Due: typecheck

fix(ci): fall back to latest tag when bessa_patterns.ts has no published release
  .github/workflows/update-bessa.yml
Due: none

fix(workflow): guard ibira.js release-resolve against 404 JSON body
  .github/workflows/update-ibira.yml
Due: none

fix(deps): update package-lock.json and jest --testPathPatterns flag
  package-lock.json
  package.json
Due: typecheck

fix(workflow): replace npm ci + install with single npm install for ibira.js
  .github/workflows/update-ibira.yml
Due: none

chore(deps): update ibira.js to v0.4.8-alpha
  package-lock.json
  package.json
Due: typecheck

feat(distance): coordinate range validation + remove deprecated API (v0.13.0-alpha)
  CHANGELOG.md
  cdn-urls.txt
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GeoPosition-FRS.md
  docs/distance-FRS.md
  src/core/GeoPosition.ts
  src/utils/distance.ts
  test/core/GeoPosition.test.ts
  test/utils/distance.test.ts
Due: typecheck, eslint, test-core

feat(skills): add next-roadmap-phase Copilot skill
  .github/SKILLS.md
  .github/skills/next-roadmap-phase/SKILL.md
Due: none

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/POSITION_MANAGER.md
Due: typecheck

feat(implementation+tests): update docs, tests, and version refs
  CHANGELOG.md
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
  test/core/PositionManager.test.ts
  test/integration/GeoPositionPositionManager.integration.test.ts
  test/utils/logger.test.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.12.1-alpha
  dist/src/core/GeoPosition.js
  dist/src/core/PositionManager.js
  dist/src/utils/distance.js
  dist/src/utils/logger.js
  dist/test/core/GeoPosition.test.js
  dist/test/core/PositionManager.test.js
  dist/test/integration/GeoPositionPositionManager.integration.test.js
  dist/test/utils/distance.test.js
  dist/test/utils/logger.test.js
  dist/types/src/core/GeoPosition.d.ts
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/distance.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

fix: rebuild ESM dist to include PositionManager and missing exports
  dist/esm/core/DualObserverSubject.js
  dist/esm/core/GeoPosition.js
  dist/esm/core/GeocodingState.js
  dist/esm/core/ObserverMixin.js
  dist/esm/core/ObserverSubject.js
  dist/esm/core/PositionManager.js
  dist/esm/core/errors.js
  dist/esm/index.js
  dist/esm/types/core/DualObserverSubject.d.ts
  dist/esm/types/core/GeoPosition.d.ts
  dist/esm/types/core/GeocodingState.d.ts
  dist/esm/types/core/ObserverMixin.d.ts
  dist/esm/types/core/ObserverSubject.d.ts
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/core/errors.d.ts
  dist/esm/types/index.d.ts
  dist/esm/types/utils/async.d.ts
  dist/esm/types/utils/distance.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/async.js
  dist/esm/utils/distance.js
  dist/esm/utils/logger.js
Due: typecheck, eslint

fix(deploy): run build:esm alongside build in Step 1
  scripts/deploy.sh
Due: none

feat(core): add ReferencePlace module (v0.14.0-alpha)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/ReferencePlace-FRS.md
  src/core/ReferencePlace.ts
  src/index.ts
  test/core/ReferencePlace.test.ts
Due: typecheck, eslint, test-core

fix(architecture-mismatch): add .github/skills/ tree to ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

feat(implementation+tests): update docs, tests, and version refs
  CHANGELOG.md
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
  test/core/PositionManager.test.ts
  test/integration/GeoPositionPositionManager.integration.test.ts
  test/utils/logger.test.ts
Due: typecheck, eslint, test-core

chore: update .workflow-config.yaml from guia_turistico reference
  .workflow-config.yaml
Due: none

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/commit_history.json
  .ai_workflow/metrics/current_run.json
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/POSITION_MANAGER.md
Due: typecheck

Path conditions:
  typecheck: any of: \.(ts|tsx|json)$
  eslint: any of: \.ts$
  test-core: any of: ^(src/|test/(core|index))
