Repository mpbarbosa/paraty_geocore.js: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, test-core

.pre-commit-config.yaml:

repos:
  # Detect accidentally committed private keys / certificates
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: detect-private-key

  # Enforce EditorConfig rules (indentation, line endings, charset)
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.0.3
    hooks:
      - id: editorconfig-checker
        exclude: |
          (?x)^(
            node_modules/|
            \.ai_workflow/
          )

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint-fix  # auto-fixes MD007/MD009/MD026/MD047 before commit
        args: [--config, .markdownlint.json]
        exclude: |
          (?x)^(
            node_modules/|
            \.ai_workflow/
          )

  # TypeScript type-check â€” catches type errors before they reach CI
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript type-check
        entry: npm run validate
        language: system
        files: \.(ts|tsx|json)$  # re-run on source or tsconfig changes
        pass_filenames: false

      - id: eslint
        name: ESLint (TypeScript complexity + style)
        entry: npm run lint
        language: system
        files: \.ts$
        pass_filenames: false

      - id: test-core
        name: Core unit tests
        entry: npm run test:core
        language: system
        files: ^(src/|test/(core|index))  # only re-run when source or core tests change
        pass_filenames: false

chore: build artifacts for v0.12.8-alpha
  dist/esm/core/PositionManager.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

fix(deploy): add CDN retry logic, purge, and GitHub raw check
  cdn-delivery.sh
  scripts/deploy.sh
Due: none

artefatos
  cdn-urls.txt
Due: none

fix(deploy): correct step count display and CDN check URL
  scripts/deploy.sh
Due: none

chore(metrics): update metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
Due: typecheck

feat(implementation): update docs, config, and PositionManager for v0.12.9-alpha
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
Due: typecheck, eslint, test-core

artefatos
  .ai_workflow/commit_history.json
Due: typecheck

chore: build artifacts for v0.12.9-alpha
  dist/esm/core/PositionManager.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

chore: build artifacts for v0.12.9-alpha
  cdn-delivery.sh
Due: none

chore(deps): update ibira.js to v0.4.22-alpha
  CHANGELOG.md
  docs/ARCHITECTURE.md
  package-lock.json
  package.json
Due: typecheck

artefatos
  .github/skills/update-bessa/SKILL.md
  .github/skills/update-ibira/SKILL.md
Due: none

docs(frs): remove stale limitations + add ReferencePlace §13 (v0.14.3-alpha)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GeoPosition-FRS.md
Due: none

chore(deps): update bessa_patterns.ts to v0.12.15-alpha
  CHANGELOG.md
  docs/ARCHITECTURE.md
  package-lock.json
  package.json
Due: typecheck

chore(metrics): update metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/metrics/current_run.json
Due: typecheck

feat(implementation): update docs, config, and PositionManager
  .github/skills/update-bessa/SKILL.md
  .github/skills/update-ibira/SKILL.md
  cdn-urls.txt
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.12.10-alpha
  dist/esm/core/PositionManager.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/utils/logger.d.ts
  dist/esm/utils/logger.js
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/utils/logger.d.ts
Due: typecheck, eslint

feat(PositionManager): add setBypassDistanceRule / bypassDistanceRule
  .github/skills/update-bessa/SKILL.md
  CHANGELOG.md
  cdn-urls.txt
  dist/esm/core/PositionManager.js
  dist/esm/types/core/PositionManager.d.ts
  dist/src/core/PositionManager.js
  dist/test/core/PositionManager.test.js
  dist/types/src/core/PositionManager.d.ts
  package-lock.json
  package.json
  src/core/PositionManager.ts
  test/core/PositionManager.test.ts
Due: typecheck, eslint, test-core

feat(ReferencePlace): expand referencePlaceMap to 24 entries, add leisure class (v0.15.0-alpha)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/ReferencePlace-FRS.md
  src/core/ReferencePlace.ts
  test/core/ReferencePlace.test.ts
Due: typecheck, eslint, test-core

fix(markdown-lint): fix MD007 list indentation in CHANGELOG.md
  CHANGELOG.md
Due: none

docs: update roadmap with resolved minor issues (fix-log-issues)
  docs/FUNCTIONAL_REQUIREMENTS.md
Due: none

chore(skills): include analysis/ in purge-workflow-logs skill
  .github/skills/purge-workflow-logs/SKILL.md
Due: none

chore(skills): add project_root parameter to workflow skills
  .github/skills/audit-and-fix/SKILL.md
  .github/skills/fix-log-issues/SKILL.md
  .github/skills/purge-workflow-logs/SKILL.md
  .github/skills/validate-logs/SKILL.md
Due: none

artefatos
  .dockerignore
  .github/workflows/test-docker.yml
  .workflow-config.yaml
  Dockerfile.test
  dist/src/core/ReferencePlace.js
  dist/test/core/ReferencePlace.test.js
  dist/types/src/core/ReferencePlace.d.ts
  docs/DOCKER_TESTING.md
  package.json
  scripts/run-tests-docker.sh
Due: typecheck, eslint

chore: build artifacts for v0.12.11-alpha
  dist/esm/core/ReferencePlace.js
  dist/esm/types/core/ReferencePlace.d.ts
Due: typecheck, eslint

docs(readme): update README to match codebase v0.12.11-alpha
  README.md
  cdn-urls.txt
Due: none

docs: align all docs/ files (except api/) with codebase v0.12.11-alpha
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GEOCODING_STATE_API.md
  docs/GEO_POSITION.md
  docs/GEO_POSITION_API.md
  docs/GEO_POSITION_FUNC_SPEC.md
  docs/GETTING_STARTED.md
  docs/OBSERVER_SUBJECT_API.md
  docs/POSITION_MANAGER.md
  docs/README.md
  docs/ReferencePlace-FRS.md
  docs/async-FRS.md
  docs/errors.md
Due: none

fix(workflow): resolve stash, correct step_09 comment, fix step_17 deps
  .github/skills/update-bessa/SKILL.md
  .workflow-config.yaml
Due: none

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GEO_POSITION.md
  docs/GEO_POSITION_API.md
  docs/POSITION_MANAGER.md
  docs/README.md
Due: typecheck

feat(position-manager): update API, docs, and tests for v0.13.0-alpha
  .ai_workflow/commit_history.json
  .github/CLEAN_ARCHITECTURE_GUIDE.md
  .github/CODE_QUALITY_CONTROL_GUIDE.md
  .github/HIGH_COHESION_GUIDE.md
  .github/LIGHTWEIGHT_DDD_GUIDE.md
  .github/LOW_COUPLING_GUIDE.md
  .github/README.md
  .github/REFERENTIAL_TRANSPARENCY.md
  .github/UNIT_TEST_GUIDE.md
  .markdownlint.json
  CHANGELOG.md
  README.md
  cdn-urls.txt
  dist/src/core/PositionManager.js
  dist/src/core/PositionManagerPolicy.js
  dist/test/core/PositionManager.test.js
  dist/test/core/PositionManagerPolicy.test.js
  dist/test/integration/GeoPositionPositionManager.integration.test.js
  dist/types/src/core/PositionManager.d.ts
  dist/types/src/core/PositionManagerPolicy.d.ts
  dist/types/test/core/PositionManagerPolicy.test.d.ts
  docs/API.md
  docs/CLEAN_ARCHITECTURE_GUIDE.md
  docs/CODE_QUALITY_CONTROL_GUIDE.md
  docs/CONTRIBUTING.md
  docs/GeoPosition-FRS.md
  docs/HIGH_COHESION_GUIDE.md
  docs/LIGHTWEIGHT_DDD_GUIDE.md
  docs/LOW_COUPLING_GUIDE.md
  docs/POSITION_MANAGER_CODE_QUALITY_ASSESSMENT.md
  docs/REFERENTIAL_TRANSPARENCY.md
  docs/UNIT_TEST_GUIDE.md
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/core/PositionManagerPolicy.ts
  test/core/PositionManager.test.ts
  test/core/PositionManagerPolicy.test.ts
  test/integration/GeoPositionPositionManager.integration.test.ts
Due: typecheck, eslint, test-core

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
  docs/API.md
  docs/ARCHITECTURE.md
  docs/FUNCTIONAL_REQUIREMENTS.md
  docs/GEOCODING_STATE_API.md
  docs/GEO_POSITION.md
  docs/GEO_POSITION_API.md
  docs/OBSERVER_MIXIN_API.md
  docs/OBSERVER_SUBJECT_API.md
  docs/README.md
  docs/ReferencePlace-FRS.md
Due: typecheck

feat(core+docs+test): update PositionManager, docs, and tests for v0.16.0-alpha
  .claude/README.md
  .github/SKILLS.md
  .github/copilot-instructions.md
  .workflow-config.yaml
  CHANGELOG.md
  README.md
  dist/src/core/PositionManager.js
  dist/src/utils/logger.js
  dist/test/core/DualObserverSubject.test.js
  dist/test/core/GeocodingState.test.js
  dist/test/core/ObserverMixin.test.js
  dist/types/src/core/PositionManager.d.ts
  docs/POSITION_MANAGER_POLICY.md
  package-lock.json
  package.json
  src/core/PositionManager.ts
  src/utils/logger.ts
  test/core/DualObserverSubject.test.ts
  test/core/GeocodingState.test.ts
  test/core/ObserverMixin.test.ts
Due: typecheck, eslint, test-core

chore: build artifacts for v0.16.0-alpha
  dist/esm/core/PositionManager.js
  dist/esm/core/PositionManagerPolicy.js
  dist/esm/types/core/PositionManager.d.ts
  dist/esm/types/core/PositionManagerPolicy.d.ts
  dist/esm/utils/logger.js
Due: typecheck, eslint

artifacts
  cdn-urls.txt
Due: none

chore(workflow): update docs and metrics [skip ci]
  .ai_workflow/.step_cache/step_06_partition.json
  .ai_workflow/.step_cache/step_10_partition.json
  .ai_workflow/.step_cache/step_10_quality.json
  .ai_workflow/metrics/current_run.json
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/FUNCTIONAL_REQUIREMENTS.md
Due: typecheck
